html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

body {
  background: url("../img/main_bg.jpg") repeat-y center 0; }

.s-wrapper {
  width: 1358px;
  margin: auto;
  background: url("../img/bg.jpg") repeat-y 0 716px;
  overflow: hidden;
  font-family: Calibri;
  margin-bottom: 95px;
  position: relative; }

.header {
  width: 100%;
  background: url("../img/pizza_bg.jpg") no-repeat 0 0;
  overflow: hidden;
  height: 716px; }

.top {
  margin-top: -320px; }

.top__logo {
  display: block;
  margin: auto;
  width: 588px;
  height: 369px;
  margin-bottom: 35px; }

.top__adress {
  background: url("../img/top_adress.png") no-repeat 0 0;
  width: 1227px;
  height: 55px;
  margin: auto; }

.top__mnu {
  margin-top: 50px;
  margin-bottom: 75px; }

.top__ul {
  display: block;
  text-align: center; }

.top__li {
  display: inline-block; }

.top__li:last-child a {
  border-right: 0; }

.top__link {
  color: #AC0117;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 32px;
  padding: 5px 50px;
  border-right: 2px solid #9e2131; }
  .top__link:hover {
    text-decoration: underline; }

.carousel {
  margin-bottom: 80px; }

.component__h2 {
  color: #ac0117;
  font-family: Verdana;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 65px; }

.component__module {
  width: 1218px;
  margin: auto;
  margin-bottom: 75px; }

.component__text {
  width: 1045px;
  margin: auto; }

.component__p {
  color: #430e00;
  font-family: Arial;
  font-size: 33px;
  font-weight: 400;
  line-height: 1.3; }

.component__gallery {
  text-align: center;
  width: 100%;
  margin: auto; }

.s-footer {
  width: 935px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 170px;
  padding-top: 160px;
  background: url("../img/logo_footer.png") no-repeat top center; }

.footer-adress {
  text-align: center;
  color: #430e00;
  font-family: Arial;
  font-size: 33px;
  font-weight: 400;
  line-height: 1.2; }

.floating {
  position: absolute;
  bottom: 460px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 71px;
  width: 319px;
  display: block;
  left: -123.5px;
  text-align: center;
  line-height: 1.1;
  color: #FFF;
  font-size: 55px;
  text-decoration: none;
  background-color: #60B238;
  text-transform: lowercase;
  font-family: Verdana;
  -webkit-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px; }

.component__h1 {
  color: #ac0117;
  font-family: Verdana;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 150px; }

.compomemt__module_img {
  margin-bottom: 20px; }

.bron {
  background: url("../img/bron.png") no-repeat 0 0;
  width: 1010px;
  height: 289px;
  display: block;
  margin: auto;
  margin-bottom: 100px; }

.w930 {
  width: 930px; }

.module.img_module {
  text-align: center;
  margin-bottom: 80px; }

.component__module.w100per, .component__text.w100per {
  width: 100%; }

.cnter_module, .module.cnter_module {
  text-align: center;
  margin-bottom: 90px; }

.center {
  margin: 20px 0; }

.vk_insta_flamp {
  margin: auto;
  width: 1000px;
  text-align: center;
  margin-bottom: 135px; }
  .vk_insta_flamp a {
    display: inline-block; }
    .vk_insta_flamp a:last-child {
      margin-right: 0; }

.vk {
  margin-right: 70px;
  margin-left: 78px; }

.insta {
  margin-right: 40px; }

.form2 {
  width: 900px;
  margin: auto; }

.form2 input[type=text] {
  height: 64px;
  width: 642px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #BDA588;
  font-size: 25px;
  font-family: Calibri; }

.mail_phone {
  background: url("../img/mail_phone.jpg") no-repeat 0 0;
  width: 258px;
  height: 64px;
  display: block;
  float: left;
  padding: 0; }

.name {
  background: url("../img/name.jpg") no-repeat 0 0;
  width: 258px;
  height: 64px;
  display: block;
  float: left; }

.clear {
  clear: both; }

.form2 > div {
  margin-bottom: 10px;
  overflow: hidden; }

.form2 textarea {
  width: 900px;
  height: 140px;
  padding: 0;
  font-size: 25px;
  border: 1px solid #BDA588;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Calibri;
  margin-bottom: 0; }

.form2 input[type=submit] {
  background: url("../img/submit.jpg") no-repeat 0 0;
  width: 258px;
  height: 64px;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer; }
