<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Контакты</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="s-wrapper">
		<a href="#" class="floating">В начало</a>
		<div class="header">
		</div>
		<div class="top">
			<a href="/" class="top__logo"><img src="img/logo.png" alt=""></a>
			<div class="top__adress"></div>
			<div class="top__mnu">
				<ul class="top__ul">
					<li class="top__li"><a class="top__link" href="#">Главная</a></li>
					<li class="top__li"><a class="top__link" href="#">Меню</a></li>
					<li class="top__li"><a class="top__link" href="#">Банкеты</a></li>
					<li class="top__li"><a class="top__link" href="#">Детям</a></li>
					<li class="top__li"><a class="top__link" href="#">Доставка</a></li>
					<li class="top__li"><a class="top__link" href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="component">
				<div class="component__module">
				<h2 class="component__h2">Звони, не бойся</h2>
				<div class="component__text w930">
					<p class="component__p">Наш телефон: 209-209-4. Пиши: marcipan-cafe@mail.ru
					Мы работаем:  <br>
					понедельник-четверг с 10-21  <br>
					пятница-суббота 10-23 <br>
					восресенье 12-21 <br>
					</p>
					</div>
				</div>
		
				<div class="component__module">
				<h2 class="component__h2">Как нас найти</h2>
				<div class="component__text w930">
					<p class="component__p">Дуси Ковальчук 238, 1 этаж. (Нарымский квартал). 
15 минут пешком от метро Заельцовская в сторону Зоопарка. Вход сразу за остановкой Плановая (в сторону пл.Калинина).</p>
					<p class="center"><img src="img/cart.jpg" alt=""></p>
					</div>
				</div>

				<div class="component__module">
				<h2 class="component__h2">Давай к нам в Контакт!</h2>
				<div class="component__text w930">
					<p class="component__p">Самые актуальные новости про акции, розыгрыши, призы, мероприятия можно получать в нашей группе ВКонтакте... осталось только присоедениться к нам. Вперед!</p>
					<p class="center"><img src="img/vk_mod.jpg" alt=""></p>
					</div>
				</div>
				<div class="vk_insta_flamp">
					<a href="#" class="vk"><img src="img/vk_but.png" alt=""></a>
					<a href="#" class="insta"><img src="img/insta_but.jpg" alt=""></a>
					<a href="#" class="flamp"><img src="img/flamp_but.jpg" alt=""></a>
				</div>
				<div class="component__module">
				<h2 class="component__h2">Задать умный или другой вопрос</h2>
				<div class="component__text">
					<form class="form2">
						<div><span class="name"></span><input type="text"></div>
						<div><span class="mail_phone"></span><input type="text"></div>
						<div class="clear"></div>
						<div>
							<textarea id=""></textarea>
							<input id="button" type="submit" value="">
						</div>
					</form>	
				</div>
				</div>
			</div><!--component-->
			<div class="s-footer">
				<div class="footer-adress">
					Кафе “Марципан”. Новосибирск. Дуси Ковальчук 238,<br>
					тел. 209-209-4  marcipan-cafe@mail.ru
				</div>
			</div><!--s-footer-->
			</div><!--s-wrapper-->
			<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
			<script src="js/common.js"></script>
	</body>
	</html>