<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="s-wrapper">
		<a href="#" class="floating">В начало</a>
		<div class="header">
		</div>
		<div class="top">
			<a href="/" class="top__logo"><img src="img/logo.png" alt=""></a>
			<div class="top__adress"></div>
			<div class="top__mnu">
				<ul class="top__ul">
					<li class="top__li"><a class="top__link" href="#">Главная</a></li>
					<li class="top__li"><a class="top__link" href="#">Меню</a></li>
					<li class="top__li"><a class="top__link" href="#">Банкеты</a></li>
					<li class="top__li"><a class="top__link" href="#">Детям</a></li>
					<li class="top__li"><a class="top__link" href="#">Доставка</a></li>
					<li class="top__li"><a class="top__link" href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="carousel">
			<ul>
				<li><img src="img/galery.jpg" alt=""></li>
			</ul>
		</div>
		<div class="component">
			<div class="component__module">
				<h2 class="component__h2">Наши плюсы</h2>
				<div class="component__text">
					<p class="component__p">Мы не сеть кафе, работаем не формально.
						У нас можно душевно посидеть с компанией или семьей. Гордимся своей пиццей, пивом, которое варят наши друзья пововары только из чешских ингредиентов. Продаем картины со стен.</p>
					</div>
				</div>
				<div class="component__module">
					<h2 class="component__h2">Бумажное ШОУ. 20 марта 2016</h2>
					<div class="component__gallery">
						<img src="img/gallery1.png" alt="">
					</div>
				</div>
				<div class="component__module">
					<h2 class="component__h2">Мастеркласс. 4 апреля 2016</h2>
					<div class="component__gallery">
						<img src="img/gallery1.png" alt="">
					</div>
				</div>
			</div><!--component-->
			<div class="s-footer">
				<div class="footer-adress">
					Кафе “Марципан”. Новосибирск. Дуси Ковальчук 238,<br>
					тел. 209-209-4  marcipan-cafe@mail.ru
				</div>
			</div><!--s-footer-->
			</div><!--s-wrapper-->
			<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
			<script src="js/common.js"></script>
	</body>
	</html>