<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Марципания</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="s-wrapper">
		<a href="#" class="floating">В начало</a>
		<div class="header">
		</div>
		<div class="top">
			<a href="/" class="top__logo"><img src="img/logo.png" alt=""></a>
			<div class="top__adress"></div>
			<div class="top__mnu">
				<ul class="top__ul">
					<li class="top__li"><a class="top__link" href="#">Главная</a></li>
					<li class="top__li"><a class="top__link" href="#">Меню</a></li>
					<li class="top__li"><a class="top__link" href="#">Банкеты</a></li>
					<li class="top__li"><a class="top__link" href="#">Детям</a></li>
					<li class="top__li"><a class="top__link" href="#">Доставка</a></li>
					<li class="top__li"><a class="top__link" href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
			<div class="module img_module">
				<img src="img/marc.png" alt="">
			</div>				
			<div class="carousel">
			<ul>
				<li><img src="img/galery.jpg" alt=""></li>
			</ul>
		</div>
		<div class="component">
				<div class="component__module">
				<h2 class="component__h2">СТРАНА МАРЦИПАНИЯ</h2>
				<div class="component__text w930">
					<p class="component__p">Проводим детские празднки от 290 руб. <br>
					Форматы:<br>
					- Мастер-класс по пицце<br>
					- Банкет и дискотека с ведущим аниматором.<br>
					- Выпускной бал.<br>
					- Шоу с банкетом.<br>
					- Квест шоу с банкетом</p>
					<br>
					<p class="component__p">Дополнительно.<br>
					- Батут.<br>
					- Художник Шаржист.<br>
					- Фотосессия с Миньонами<br>
					</p>
					</div>
				</div>
						<div class="component__module">
				<h2 class="component__h2">Условия бронирования</h2>
				<div class="component__text w930">
					<p class="component__p">По телефону достаточно озвучить дату. <br>
					Мы резервируем время. <br>
					Банкет считается забронорованным после 50% оплаты. Выжаем чек.<br>
					Окончательная оплата после банкета.<br>
					</p>
					</div>
				</div>
				<a href="#" class="bron"></a>
				<div class="component__module w100per">
				<h2 class="component__h2">Детское меню</h2>
				<div class="component__text w100per">
					<img src="img/detmenг.jpg" alt="">
					</div>
				</div>
			</div><!--component-->
			<div class="s-footer">
				<div class="footer-adress">
					Кафе “Марципан”. Новосибирск. Дуси Ковальчук 238,<br>
					тел. 209-209-4  marcipan-cafe@mail.ru
				</div>
			</div><!--s-footer-->
			</div><!--s-wrapper-->
			<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
			<script src="js/common.js"></script>
	</body>
	</html>